.descriptionField {
  font-size: 1.2rem;
}

.appointment {
  //background-color: rgba(255, 255, 255, 0.71);
  border-radius: 8px;
  height: 98%;
  width: 100%;
  margin: 4px;
  padding: 0;

  &:hover {
    background-color: rgba(255, 255, 255, 0.71);// rgba(255, 255, 255, 0.46);
  }
}

.description {
  white-space: break-spaces;
}